{% extends 'general.html' %}

{% block title %} Ajouter un justificatif {% endblock %}

{% block content %}
{% load addcss %}

<h1>Ajouter un justificatif pour une période</h1>

<div class="alert alert-info">
	<p><span class="glyphicon glyphicon-info-sign"></span>
 		Vous pouvez ajouter un justificatif pour un étudiant donné, pour une ou plusieurs matière(s) et pour une période donnée. <br />
 		Toutes les absences de l'étudiant seront automatiquement justifiées, qu'elles soient anciennes ou à venir.
 	</p>
</div>

<form method="post" action="" role="form">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group">
			{{field.label_tag}} {{field|addcss:"form-control"}}
		</div>
	{% endfor %}

	<button type="submit" class="btn btn-default">Envoyer</button>
</form>

{% endblock %}