{% extends 'general.html' %}

{% block title %} Saisie des justificatifs {% endblock %}

{% block content %}
{% load addcss %}

<div class="alert alert-info">
	<p>Les champs <em>Date Début effet</em> et <em>Date fin effet</em> sont facultatifs. <br />
	S'ils ne sont pas renseignés, le justificatif prendra effet pour le cours sélectionné. Sinon, le justificatif sera effectif pour tous les cours auxquels l'étudiant était absent pendant cette période.
	</p>
</div>
<h2>Ajouter un justificatif pour {{absence.etudiant.user.first_name}} {{absence.etudiant.user.last_name}} pour le cours {{absence.cours.matiere.intitule}}</h2>

<p><strong>Date : {{absence.cours.dateDebut|date:"d/m/Y"}} à {{absence.cours.dateDebut|time:"H:i"}} - {{absence.cours.dateFin|date:"d/m/Y"}} à {{absence.cours.dateFin|time:"H:i"}}</strong></p>

<form method="post" action="" role="form">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-group">
			{{field.label_tag}} {{field|addcss:"form-control"}}
		</div>
	{% endfor %}

	<button type="submit" class="btn btn-default">Envoyer</button>
</form>

{% endblock %}