{% extends 'general.html' %}
{% block title %} Se connecter {%endblock%}

{% block content %}

	{% load addcss %}

	<h2>Se connecter</h2>
	{% if error %}
	<p><span class="label label-danger">L'identifiant et/ou le mot de passe sont faux</span></p>
	{%endif%}

	<form method="post" action="" role="form">
		{% csrf_token %}
		{% for field in form %}
			<div class="form-group">
				{{field.label_tag}} {{field|addcss:"form-control"}}
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-default">Se connecter</button>
	</form>
{% endblock %}