{% extends 'general.html' %}

{% block title %} 
	Détails du cours {{ cours.matiere.intitule }}
{% endblock %}

{% block content %}

	<h2>Détails du cours "{{cours.matiere.intitule}}"</h2>

	<div style="margin-bottom:20px;">
		<p><em>
			Donné le {{ cours.dateDebut|date:"d/m/Y" }} de {{ cours.dateDebut|time:"H:i" }} à {{ cours.dateFin|time:"H:i"}}
			par 
			{% for enseignant in cours.donne_par.all %} 
				{{enseignant.user.first_name}} {{enseignant.user.last_name}}
				{% if not forloop.last %}, {%endif%}
			{% endfor %}
			au groupe
			{% for groupe in cours.donne_a.all %} {{groupe.nom}}{% if not forloop.last %}, {%endif%}{% endfor %}
		</em></p>
	</div>

{% if cours.saisieEffectuee%}
<div class="alert alert-success">
	<p><span class="glyphicon glyphicon-ok"></span>
 La saisie pour ce cours a été effectuée.</p>
</div>
{% else %}
<div class="alert alert-danger">
	<p>La saisie des absences n'a pas été effectuée pour ce cours.<br />
		
		<a href="{% url 'absences:saisieAbsences' cours.id %}" title="Saisir les absences"><button type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-pencil"></span> 
			Saisir les absences
		</button></a>
	</p>
</div>
{% endif %}
	<div>
		<h3>Liste des étudiants absents :</h3>
		<table class="table table-hover">
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Groupe</th>
				<th>Promotion</th>
				<th>Justifié</th>
				<th>Justificatif</th>
			</tr>
			{% for absence in absences.all %}
			<tr>
				<td>{{absence.etudiant.user.first_name}}</td>
				<td>{{absence.etudiant.user.last_name}}</td>
				<td>{{cours.donne_a.nom}}</td>
				<td>{{absence.etudiant.promotion}}</td>
				{% if absence.justifie %}
					<td class="alert alert-success">Oui</td>
				{% else %}
					<td class="alert alert-danger">Non</td>
				{% endif %}
				<td>
					{% if not absence.justifie %}
						{% if perms.absences.can_ajouterJustificatif %}
							<a href="{% url 'absences:ajouteJustificatif' absence.id %}" class="btn btn-primary btn-sm" role="button">Ajouter un justificatif</a></td>
						{% else %}
						- 
						{%endif%}

					{% else %}
					<a href="#" class="btn btn-primary btn-sm" role="button">Voir le justificatif</a></td>
					{% endif %}
			</tr>
			{% empty %}
			<tr>
				<td colspan="5">Aucun étudiant n'a assisté au cours</td>
			</tr>
			{% endfor %}
	</table>
{%endblock%}