{% extends 'general.html' %}


{%block content %}
	{% if eleve %}
		<h2>Informations sur l'élève {{eleve.user.first_name}} {{eleve.user.last_name}}</h2>
		<h3>Absences</h3>
			{% if absences %}
				<table class="table table-hover">
				<thead>
					<tr>
						<th>Cours</th>
						<th>Date</th>
						<th>Justifiée</th>
					</tr>
				</thead>
				<tbody>
					{% for abs in absences %}
						<tr>
							<td>{{abs.cours}}</td>
							<td>{{abs.cours.dateDebut.date}}</td>
							{% if abs.justifie %}
								<td class="alert alert-success">Oui</td>
							{% else %}
								<td class="alert alert-danger">Non</td>
							{% endif %}
							<td>
							{% if not abs.justifie %}
								{% if perms.absences.can_ajouterJustificatif %}
									<a href="{% url 'absences:ajouteJustificatif' abs.id 'infosEleve' eleve.id %}" class="btn btn-primary btn-sm" role="button">Ajouter un justificatif</a></td>
								{% else %}
									- 
								{%endif%}
							{% else %}
								<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#justificatifPopup" role="button" onclick="remplirPopupJustificatif({{abs.id}});">Voir le justificatif</a></td>
							{% endif %}
							</td>
						</tr>
					
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>Pas d'absences pour cet élève</p>
			{% endif %}
	{% else %}
		<p>Cet élève n'existe pas !</p>
	{% endif %}
<div class="modal fade" id="justificatifPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Justificatif</h4>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
{%endblock %}
