{% extends 'general.html' %}


{%block content %}
	{% if eleve %}
		<h2>Informations sur l'élève {{eleve.user}}</h2>
		<h3>Absences</h3>
			{% if absences %}
				<table class="table table-hover">
				<thead>
					<tr>
						<th>Cours</th>
						<th>Date</th>
						<th>Justifiée</th>
					</tr>
				</thead>
				<tbody>
					{% for abs in absences %}
						<tr>
							<td>{{abs.cours}}</td>
							<td>{{abs.cours.dateDebut.date}}</td>
							{% if abs.justifie %}
								<td class="alert alert-success">Oui</td>
							{% else %}
								<td class="alert alert-danger">Non</td>
							{% endif %}
						</tr>
					
					{% endfor %}
				</tbody>
			</table>
			{% else %}
				<p>Pas d'absences pour cet élève</p>
			{% endif %}
	{% else %}
		<p>Cet élève n'existe pas !</p>
	{% endif %}
{%endblock %}
