{% extends 'general.html' %}

{% block title %} Liste des étudiants {% endblock %}
{%block content %}
	<h1>Liste des étudiants</h1>
	{% if infos %}
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Étudiant</th>
					<th>Groupe(s)</th>
					<th>Promotion</th>
				</tr>
			</thead>
			<tbody>
		{% for paire in infos %}
			<tr>
				<td>
					<a href="{% url 'absences:infosEleve' paire.0.id %}">{{paire.0.user.last_name}} {{paire.0.user.first_name}}</a>
				</td>
				<td>
					{% for groupe in paire.1 %}
                        <a href="{% url 'absences:infosGroupe' groupe.id %}">{{groupe.nom}}</a>
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
				</td>
				<td>
					<a href="{% url 'absences:infosPromotion' paire.0.promotion.id %}">{{paire.0.promotion}}</a>
				</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Aucun étudiant dans la base</p>
	{% endif %}
{% endblock %}
