{% extends 'general.html' %}


{%block content %}
<h2>Liste des cours donnés</h2>

{% if is_paginated %}
	{% include 'pagination.html' %}
{%endif%}

<table class="table table-hover">
	<tr>
		<th>Cours</th>
		<th>Enseignant(s)</th>
		<th>Groupe</th>
		<th>Début</th>
		<th>Fin</th>
	</tr>
{% for cours in listeCours %}
	<tr>
		<td><p><strong><a href="{% url 'absences:consultationCours' cours.id %}" title="Voir les absences">{{cours.matiere.intitule}}</a></strong></p></td>
		<td>{% for enseignant in cours.donne_par.all %} {{enseignant.user.first_name}} {{enseignant.user.last_name}}{% if not forloop.last %}, {%endif%}{% endfor %}</td>
		<td>{{cours.donne_a.nom}}</td>
		<td>{{cours.dateDebut|date:"d/m/Y"}} à {{cours.dateDebut|time:"H:i"}}</td>
		<td>{{cours.dateDebut|date:"d/m/Y"}} à {{cours.dateDebut|time:"H:i"}}</td>
	</tr>
	{%empty%}
	<tr>
		<td colspan="5">Aucun cours ne correspond à cette date</td>
	</tr>
{% endfor %}
</table>

{% if is_paginated %}
	{% include 'pagination.html' %}
{%endif%}

{%endblock %}

